@import "@fontsource/jetbrains-mono"; 
@import "@fontsource/jetbrains-mono/400.css"; 
@import "@fontsource/jetbrains-mono/700.css";  

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}
